/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3     &kp N4        &kp N5                                    &kp N6     &kp N7         &kp N8         &kp N9   &kp N0    &kp EQUAL
&mo 2           &kp Q   &kp W   &kp E      &kp R         &kp T                                     &kp Y      &kp U          &kp I          &kp O    &kp P     &kp MINUS
&mo 1           &kp A   &kp S   &kp D      &kp F         &kp G                                     &kp H      &kp J          &kp K          &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C      &kp V         &kp B     &kp LG(SPACE)    &kp BACKSPACE  &kp N      &kp M          &kp COMMA      &kp DOT  &kp FSLH  &kp LA(TAB)
                                &kp LCTRL  &kp LEFT_ALT  &kp LCMD  &kp SPACE        &kp SPACE      &kp ENTER  &kp RIGHT_GUI  &kp RIGHT_ALT
            >;
        };

        lower {
            bindings = <
&trans  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans             &kp UP        &trans      &trans            &kp CAPSLOCK                      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT           &kp DOWN      &kp RIGHT   &trans            &trans                            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans             &trans        &trans      &trans            &trans        &trans     &kp DEL  &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans      &trans            &trans        &kp RET    &trans   &trans  &trans  &trans
            >;
        };

        higher {
            bindings = <
&kp F1  &kp F2         &kp F3         &kp F4  &kp F5  &kp F6                    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &kp LG(Q)      &kp LG(H)      &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &kp LC(LG(Q))  &kp LA(LG(H))  &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans         &trans         &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans   &trans
                                      &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
